<?xml version="1.0" encoding="utf-8"?>
<component size="55,53" extention="Button">
  <controller name="button" pages="2,up,4,over" selected="1">
    <action type="play_transition" fromPage="2" toPage="" transition="t0"/>
    <action type="play_transition" fromPage="4" toPage="" transition="t1"/>
  </controller>
  <displayList>
    <image id="n0_pz5g" name="n0" src="pz5g8" fileName="Texture/settings.png" xy="0,0" pivot="0.5,0.5" rotation="90" filter="color" filterData="0,0,0,0">
      <gearLook controller="button" pages="4" values="1,90,0,0" default="1,0,0,0" tween="true" duration=".2"/>
    </image>
  </displayList>
  <Button sound="ui://qeik3u1qmdv92"/>
  <transition name="t0">
    <item time="0" type="ColorFilter" target="n0_pz5g" value="0.1,0,0,0"/>
  </transition>
  <transition name="t1">
    <item time="0" type="ColorFilter" target="n0_pz5g" value="0,0,0,0"/>
    <item time="0" type="Sound" value="ui://qeik3u1qmdv91,100"/>
  </transition>
</component>